@font-face {
	font-family: "Roboto";
	src: url("./fonts/Roboto-Medium.ttf") format("ttf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("./fonts/OpenSans-SemiBold.ttf") format("ttf");
	font-weight: 500;
	font-style: normal;
}

.body {
	margin: 0;
}

.container {
	font-family: "Roboto";
}

.header,
.footer {
	background-color: black;
	height: 7vh;
	width: 100%;
}

.header {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.branding {
	align-items: center;
	display: flex;
	padding-left: 30px;
}

.branding img {
	height: 35px;
}

.github {
	height: 100%;
	grid-area: 1 / 5 / 2 / 6;
}

.githubLinks {
	align-items: center;
	color: white;
	display: flex;
	font-size: 1.5rem;
	gap: 30px;
	height: 100%;
	justify-content: end;
	padding-right: 30px;
}

.github img {
	height: 2rem;
}

.github a:hover {
	color: orange;
}

.tabs {
	display: grid;
	grid-area: 1 / 3 / 2 / 4;
	grid-template-columns: repeat(3, 1fr);
}

.main {
	align-items: center;
	background-image: url("./images/splash.jpg");
	background-position: center;
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	font-family: "OpenSans";
	font-size: 5rem;
	height: 86vh;
	justify-content: center;
	text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.8), -3px 0px 7px rgba(0, 0, 0, 0.8),
		0px 4px 7px rgba(0, 0, 0, 0.8);
	width: 100%;
}

.blocking {
	align-items: center;
	background-color: rgba(114, 114, 114, 0.5);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	display: flex;
	flex-direction: column;
	padding: 16px;
	width: 100%;
}

.blocking img:first-child {
	width: 200px;
}

.blocking p {
	margin-bottom: 8px;
}

.blocking img:last-child {
	width: 150px;
}

.filter-white {
	filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(185deg)
		brightness(107%) contrast(101%);
}
/* .filter-orange {
	filter: invert(47%) sepia(30%) saturate(3716%) hue-rotate(359deg)
		brightness(101%) contrast(109%);
} */

.filter-shadow {
	filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.tabButton {
	background: none;
	border-style: none;
	box-sizing: border-box;
	color: grey;
	cursor: pointer;
	display: inline-block;
	font-family: "Roboto";
	font-size: 1.3rem;
	font-weight: 700;
	letter-spacing: -0.01em;
	line-height: 1.3;
	padding: 0.875rem 1.125rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	transform: translateZ(0) scale(1);
	transition: transform 0.2s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.tabButton:not(:disabled):hover {
	transform: scale(1.05);
	color: white;
}

.tabButton:not(:disabled):hover:active {
	transform: scale(1.05) translateY(0.125rem);
}

.tabButton:focus {
	outline: 0 solid transparent;
}

.tabButton:focus:before {
	content: "";
	left: calc(-1 * 0.375rem);
	pointer-events: none;
	position: absolute;
	top: calc(-1 * 0.375rem);
	transition: border-radius;
	user-select: none;
}

.tabButton:focus:not(:focus-visible) {
	outline: 0 solid transparent;
}

.tabButton:focus:not(:focus-visible):before {
	border-width: 0;
}

.tabButton:not(:disabled):active {
	transform: translateY(0.125rem);
}
